@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
}

header {
    background-color: rgb(97, 185, 97);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    max-width: 12rem;
    align-items: center;
    border-right: 2px solid rgb(3, 43, 3);
}

main {
    background-color: rgb(180, 247, 180);
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}

a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
}

a ion-icon {
    margin-right: 10px;
}

li {
    list-style-type: none;
    font-weight: bold;
    background-color: rgb(3, 43, 3);
    transition: 0.2s;;
    display: flex;
    margin: 5px;
    padding: 10px 20px;
    border-radius: 20px;
}

li:hover {
    background-color: rgb(97, 185, 97);
    transition: 0.2s;
    transform: scale(0.95);
    box-shadow: 0 0 5px rgb(180, 247, 180);
}

a:hover {
    color: rgb(3, 43, 3);
}

ul {
    display: flex;
    flex-direction: column;
}

header img {
    width: 200px;
}

